/* Thay đổi cỡ chữ */
.check-box {
  -fx-font-size: 50px;
}

/* Thay đổi kích thước ô vuông checkbox */
.check-box .box {
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-max-width: 50px;
  -fx-max-height: 50px;
}
