.header {
  -fx-text-fill: #ffffff;
  -fx-background-color: linear-gradient(to right, #b61f28, rgb(218, 88, 101));
}

.header-v2 {
  -fx-text-fill: #ffffff;
  -fx-background-color: linear-gradient(
    to right,
    #b22222,
    #c22a2a,
    #d23232,
    #e23a3a,
    #f24242
  );
}

.body {
  -fx-background-color: #fbf0f6;
}

.body-v2 {
  -fx-background-color: linear-gradient(
    to right,
    #fafafa,
    #f0f8ff,
    #d1e9f6,
    #b3d3ed,
    #95c4e5
  );
}

.white-bg {
  -fx-background-color: #ffffff;
}

.radius {
  -fx-background-radius: 15px;
}

.transparent {
  -fx-background-color: transparent;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color: #f0f0f0;
}
