.titled-pane {
  -fx-background-color: transparent;
  -fx-background-radius: 10px;
}

.titled-pane .title {
  -fx-text-fill: linear-gradient(to right, #3d0000, #752a2a);
  -fx-font-size: 22px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(to right, #e9b414, #e4c465);
  -fx-background-radius: 10px;
  -fx-effect: dropshadow(
    gaussian,
    rgba(174, 103, 9, 0.5),
    /* tím nhạt từ #9178d1, 30% opacity */ 20,
    /* radius */ 0.5,
    /* spread */ 0,
    /* offset-x */ 5 /* offset-y */
  );
}

.titled-pane:hover .title {
  -fx-background-color: linear-gradient(to right, #e6ba38, #ebd8a1);
  -fx-text-fill: linear-gradient(to right, #3d0000, #752a2a);
}

.titled-pane .content {
  -fx-padding: 10px;
  -fx-background-color: linear-gradient(to right, #e6c86f, #f0e2ba);
}

.titled-pane-small {
  -fx-background-color: transparent;
  -fx-background-radius: 8px;
}

.titled-pane-small .title {
  -fx-text-fill: linear-gradient(to right, #3d0000, #752a2a);
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(to right, #e9b414, #e4c465);
  -fx-background-radius: 8px;
  -fx-effect: dropshadow(
    gaussian,
    rgba(174, 103, 9, 0.5),
    /* tím nhạt từ #9178d1, 30% opacity */ 20,
    /* radius */ 0.5,
    /* spread */ 0,
    /* offset-x */ 5 /* offset-y */
  );
}

.titled-pane:hover .title {
  -fx-background-color: linear-gradient(to right, #e6ba38, #ebd8a1);
  -fx-text-fill: linear-gradient(to right, #3d0000, #752a2a);
}

.titled-pane .content {
  -fx-padding: 8px;
  -fx-background-color: linear-gradient(to right, #e6c86f, #f0e2ba);
}
